.pet-display {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px
}

.button {
  color: white;
  background-color: #6504B5;
  height: 30px;
  font-weight: bold;
  border-radius: 5px
}

@media screen and (max-width: 750px) {
  .pet-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
