.App {
  text-align: center;
}

.application-card {
  background-color: #6504B5;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.application-button {
  color: #6504B5;
  background-color: white;
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px
}

.application-button {
  cursor: pointer;
}

#root, body, html, main, html {
  height: 100%;
}
