.card {
  border: 1px solid black;
  padding: 3%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6504B5;
  color: white;
  transition: transform 1.2s;
  margin: 10px;
}

.card-image {
  width: auto;
  height: 10em;
}

.card:hover {
  border: 2px solid red;
  transform: scale(1.1);
}

.favorite-button {
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}
