.card {
  border: 1px solid black;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(101, 4, 181, .5);
  /* color:#6504B5; */
  color: white;
  transition: transform 1.2s;
  border: solid 2px #6504B5;
}


.card:hover {
  border: 2px solid red;
  transform: scale(1.1);
}