.card {
  border: 1px solid black;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6504B5;
  color: white;
  transition: transform 1.2s;
  margin: 10px;
}

.card-image {
  width: auto;
  height: 8em;
}


.card:hover {
  border: 2px solid red;
  transform: scale(1.1);
}
