.pet-image {
  width: auto;
  height: 400px;
}

.home {
  margin-right: 5px
}

.info-buttons {
  margin-bottom: 10px
}

.info-container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.bio {
  font-weight: bolder;
}

.pet-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
