.login-form {
  margin-top: 50px
}

.input {
  margin-right: 10px;
  height: 25px;
  border-radius: 5px
}

.button {
  color: white;
  background-color: #6504B5;
  height: 30px;
  font-weight: bold;
  border-radius: 5px
}

.button:hover {
  background-color: white;
  border-color: #6504B5;
  color: #6504B5;
  cursor: pointer;
}
